*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #2e3250;
}
.container{
    width: 100%;
    height: 100%;
}

.menu ul{
display: inline-flex;
margin:  50px;
}

.menu ul li {
    margin: 20px;
    color: #b2b1b1;
    list-style: none;
}

.logo img{
    width: 45px;
    margin-right: 40px;
    margin-top: -10px;
}

.active{
    color: #19dafa !important;
}

.signUpBTN{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;

    
}