*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #3b065e;
}
.container{
    width: 100%;
    height: 100%;
}

.menu ul{
display: inline-flex;
margin:  50px;
}

.menu ul li {
    margin: 20px;
    color: #b2b1b1;
    list-style: none;
}

.logo img{
    width: 45px;
    margin-right: 40px;
    margin-top: -10px;
}

.active{
    color: #19dafa !important;
}

.signUpBTN{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border : 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#2e3250,#2e3250),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
}

.signUpBTN span{

    display: block;
    padding: 8px 22px;
}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white;
}

.app-text{
    width: 50%;
    float: left;
}

.app-text p{
   width: 650px;
   font-size: 15px;
   margin: 30px 0 30px 40px;
   line-height: 25px;
   color:#919191;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}


.app-picture{

    width: 50%;
    float: right;
}

.app-picture img{

   width: 100%;
}